<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSUserActivityTypes</key>
    <array>
        <string>StartCountdownIntent</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
        <string>location</string>
    </array>
    <key>WKAppBundleIdentifier</key>
    <string>com.heart.astrolabe.watchkitapp</string>
    <key>WKApplication</key>
    <true/>
    <key>WKBackgroundModes</key>
    <array/>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Location is required for weather and wind information</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Location is required for weather and wind information</string>
    <key>WeatherKitUsageDescription</key>
    <string>Weather data is used to show wind information</string>
    <key>NSMotionUsageDescription</key>
    <string>Motion data is used for compass heading and pressure reading</string>
</dict>
</plist>
