<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>StartCountdownIntent</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>processing</string>
	</array>
	<key>WKAppBundleIdentifier</key>
	<string>com.heart.astrolabe.watchkitapp</string>
	<key>WKApplication</key>
	<true/>
	<key>WKBackgroundModes</key>
	<array>
		<string>workout-processing</string>
		<string>physical-therapy</string>
	</array>
	<key>WeatherKitUsageDescription</key>
	<string>Weather data is used to show wind information</string>
	<key>UIAppFonts</key>
	<array>
		<string>Hermes-Numbers.ttf</string>
	</array>
</dict>
</plist>
